<h1>Media object</h1>
<div class="border p-3">
<div class="media">
<%= link_to '#',class:"mr-2" do %>
<%= image_tag 'avator-0' %>
<% end %>
<div class="media-body">
<h6>灯台Web</h6>
6月10日に恒例の灯台ツアーを開催。ただいま参加者を・・・
</div>
</div>
<div class="media mt-3">
<%= link_to '#',class:"mr-2" do %>
<%= image_tag 'avator-1' %>
<% end %>
<div class="media-body">
<h6>灯台Web</h6>
6月10日に恒例の灯台ツアーを開催。ただいま参加者を・・・
</div>
</div>
<div class="media mt-3">
<%= link_to '#',class:"mr-2" do %>
<%= image_tag 'avator-2' %>
<% end %>
<div class="media-body">
<h6>灯台Web</h6>
6月10日に恒例の灯台ツアーを開催。ただいま参加者を・・・
</div>
</div>
</div>