<h1>Card</h1>
<div class="card-deck">
<div class="card" style="width:300px;">
<h4 class="card-header">灯台のある風景</h4>
<div class="card-body">
<h5  class="card-title">灯台の役割</h5>
<%= image_tag 'lighthouse-1s',class:"card-img mb-2" %>
<%= link_to '続きを読む','#',class:"card-link" %>
</div>
<div class="card-footer">Update 2018/5/15</div>
</div>
<div class="card" style="width:300px;">
<h4 class="card-header">灯台のある風景</h4>
<div class="card-body">
<h5  class="card-title">灯台の役割</h5>
<%= image_tag 'lighthouse-2',class:"card-img mb-2" %>
<%= link_to '続きを読む','#',class:"card-link" %>
</div>
<div class="card-footer">Update 2018/5/15</div>
</div>
<div class="card" style="width:300px;">
<h4 class="card-header">灯台のある風景</h4>
<div class="card-body">
<h5  class="card-title">灯台の役割</h5>
<%= image_tag 'lighthouse-3',class:"card-img mb-2" %>
<%= link_to '続きを読む','#',class:"card-link" %>
</div>
<div class="card-footer">Update 2018/5/15</div>
</div>
</div>